@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

main {
  background: url("../public/backgroundImg.png");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.home-container {
border-radius: 0.75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.sub-boxes {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: black;
}

.img-circle {
  background: transparent url(../public/user.png);
  background-size: cover;
  border-width: 2px;
  border-color: #9c9c9c;
  background-position: center;
  box-shadow: 1px 3px 4px 1px #616161;
}

@media (max-width: 640px) {
}

.home-container {
border-radius: 0.75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:280px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.sub-boxes {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: black;
}

.img-circle {
  background: transparent url(../public/user.png);
  background-size: cover;
  border-width: 2px;
  border-color: #9c9c9c;
  background-position: center;
  box-shadow: 1px 3px 4px 1px #616161;
}

@media (max-width: 640px) {
}